.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.homeimg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  text-align: center;
  color: white;
  z-index: 1;
}

.content h5 {
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
}

.content h5 span{
  font-size: 50px;
  font-weight: bolder;
  color: #20ef11;
  -webkit-text-stroke: 2px black;
}

.content h1 {
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}

.changecontent::after {
  content: " ";
  color: #0dec1c;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
}

@keyframes changetext {
  0% { content: "Kedarnath, Uttarakhand"; }
    10% { content: "Manali, Himachal Pradesh"; }
    20% { content: "Alleppey, Kerala"; }
    30% { content: "Amritsar, Punjab"; }
    40% { content: "Akshardham, Delhi"; }
    50% { content: "Charminar, Telangana"; }
    60% { content: "Hawa Mahal, Rajasthan"; }
    70% { content: "Puri, Odisha"; }
    80% { content: "Goa Beach, Goa"; }
    90% { content: "Taj Mahal, Uttar Pradesh"; }
    100% { content: "Kedarnath, Uttarakhand"; }
}

.content p {
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}

.content a {
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.content a:hover {
  background: #20ef11;
  color: white;
}

@media (max-width: 850px) {
  .home {
      background-position: 50%;
  }
}

@media (max-width: 450px) {
  .content h5 {
      font-size: 25px;
  }
  .content h1 {
      font-size: 38px;
  }
  .content p {
      font-size: 13px;
  }
}
