@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

.fr-body {
  background-color: #f0f4f1;
  padding: 20px;
}

.fr-main {
  margin: 0 auto;
  max-width: 1200px;
}

.fr-main .fr-head1{
  font-size: 4rem;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  color: rgb(75, 241, 4);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
} 

.fr-section {
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  background: #ffffff;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.fr-section-title {
  font-size: 3rem;
  color: rgb(75, 241, 4);
  border-bottom: 2px solid #006400;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
  -webkit-text-stroke: 1.5px rgb(0, 3, 0);
}

.fr-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  font-family: Roboto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.fr-content h3 {
  color: #266f26;
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  font-family: Roboto;
}

.fr-btn{
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.fr-btn:hover {
  background-color: #004d00;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .fr-btn{
    width: 40%;
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .fr-btn{
    width: 50%;
    font-size: 1rem;
  }

  .fr-main .fr-head1{
    font-size: 3rem;
  }

  .fr-section-title{
    font-size: 2rem;
    -webkit-text-stroke: 0.75px rgb(0, 0, 0);
  }

  .fr-content h3{
    font-size: 1.5rem;
  }

  .fr-content p{
    font-size: 1.25rem;
  }
}