.pr1-body {
    font-family: 'Arial', sans-serif;
    height: 1vh;
    background-color:#ffffff
}
.logo{
    width: 150px;
    height: 50px;
    border-radius: 18px;
    margin-bottom: 10px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(183, 255, 174);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    margin:0px 15px 15px 15px;
    border: 1px solid black;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}
#navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: 0.2s ease;
}
#navbar button{
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 20px;
    border-color: #004D40;
}
#navbar button:hover{
    background-color: rgb(65, 206, 0);
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(54, 170, 0);
}
#navbar li a.active{
    text-decoration: underline;
}
#mobile{
    display: none;
}
#close{
    display: none;
}
@media (max-width: 1060px){
    #header{
        padding: 10px 30px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -315px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px;
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        font-size: 24px;
        padding-left: 20px;
        color: black;
    }
    #navbar.active{
        right:0 ;
    }
    #close{
        display: initial;
        position: absolute;
        top:35px;
        left: 35px;
        font-size: 24;
        color: black;
    }
 }
@media (max-width:450px){
    #header{
        padding: 10px 30px;
    }
    .logo{
        width: 120px;
        height: 40px;
    }
}
