.ab-body {
    margin-top: 110px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.abclass h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Algerian';
    font-weight: 100;
    font-size: 4vw; 
    border-bottom: 2px solid black;
    color: rgb(75, 241, 4);
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

.ab-main {
    margin-top: 20px;
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 10px;
    max-width: 100%;
}

section:hover {
    background-color: rgb(229, 229, 223);
    border-radius: 10px;
}

section h1 {
    margin: 4px;
    padding-bottom: 4px;
    color: rgb(75, 241, 4);
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    font-family: 'Algerian', Times, serif;
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid green;
}

.abtitle {
    position: relative;
}

.abtitle:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #2c8234;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.abtitle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section p {
    font-family: 'Roboto', Times, serif;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 0.5rem;
    font-family: 'Roboto', Times, serif;
    font-size: 1.5em;
    line-height: 3rem;
}

ul li strong {
    color: #4CAF50;
    font-family: 'Roboto', Times, serif;
    font-weight: bold;
    font-size: 1.15em;
}


@media (max-width: 768px) {

    .ab-main {
        padding: 10px;
    }

    section {
        padding: 3px;
        margin-left: 1rem;
        max-width: 100%;
    }

    section h1 {
        font-size: 12vw;
    }

    section p {
        font-family: 'Roboto', Times, serif;
        font-size: 1.35em;
        padding: 4px;
    }

    .ab-body{
        margin-top: 65px;
    }

    .abclass h1 {
        font-size: 9vw;
    }

    ul li strong {
        color: #4CAF50;
        font-family: 'Roboto', Times, serif;
        font-weight: bold;
        font-size: 1em;
    }
}


@media (max-width: 480px) {

    .ab-main {
        padding: 10px;
    }

    section {
        padding: 3px;
        margin-left: 1rem;
        max-width: 100%;
    }

    section h1 {
        font-size: 3rem;
    }

    section p {
        font-family: 'Roboto', Times, serif;
        font-size: 1.35em;
        padding: 4px;
    }

    .ab-body{
        margin-top: 65px;
    }

    .abclass h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    ul li strong {
        color: #4CAF50;
        font-family: 'Roboto', Times, serif;
        font-weight: bold;
        font-size: 1em;
    }
}
