.home {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", sans-serif;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("./images/Home.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.home .content {
  text-align: center;
  color: white;
}

.home .content h5 {
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
}

.home .content h1 {
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}

.changecontent::after {
  content: " ";
  color: #0dec1c;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
}

@keyframes changetext {
  0% {
    content: "Kedarnath, Uttarakhand";
  }
  4.35% {
    content: "Manali, Himachal Pradesh";
  }
  8.7% {
    content: "Alleppey, Kerala";
  }
  13.04% {
    content: "Amritsar, Punjab";
  }
  17.39% {
    content: "Akshardham, Delhi";
  }
  21.74% {
    content: "Charminar, Telangana";
  }
  26.09% {
    content: "Hawa Mahal, Rajasthan";
  }
  30.43% {
    content: "Puri, Odisha";
  }
  34.78% {
    content: "Goa Beach, Goa";
  }
  39.13% {
    content: "Taj Mahal, Uttar Pradesh";
  }
  43.48% {
    content: "India Gate, Delhi";
  }
  47.83% {
    content: "Kutch, Gujarat";
  }
  52.17% {
    content: "Lotus Temple, Delhi";
  }
  56.52% {
    content: "Ellora Caves, Maharashtra";
  }
  60.87% {
    content: "Dal Lake, Jammu & Kashmir";
  }
  65.22% {
    content: "Konark, Odisha";
  }
  69.57% {
    content: "Rumtek, Sikkim";
  }
  73.91% {
    content: "Rameswaram, Tamil Nadu";
  }
  78.26% {
    content: "Kanyakumari, Tamil Nadu";
  }
  82.61% {
    content: "Bodh Gaya, Bihar";
  }
  86.96% {
    content: "Leh-Ladakh, Jammu & Kashmir";
  }
  91.3% {
    content: "Mount Abu, Rajasthan";
  }
  95.65% {
    content: "Nainital, Uttarakhand";
  }
  100% {
    content: "Kedarnath, Uttarakhand";
  } /* Loop back to the start for smooth transition */
}

.home .content p {
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}

.home .content a {
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.home .content a:hover {
  background: #20ef11;
  color: white;
}

@media (max-width: 850px) {
  .home {
    background-position: 50%;
  }
}

@media (max-width: 450px) {
  .home .content h5 {
    font-size: 25px;
  }
  .home .content h1 {
    font-size: 38px;
  }
  .home .content p {
    font-size: 13px;
  }
}
