@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

.rev-page{
    background-image: url('./Places/back1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }

.rev-container {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    transition: background 0.5s ease;
}

.rev-title {
    font-size: 3.5em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    font-family: Algerian;
    font-weight: bold;
}

.rev-title-love {
    font-size: 1.5em;
    color: rgb(75, 241, 4);
    -webkit-text-stroke: 0.15px #000000;
}

.rev-description {
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
}

.rev-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.rev-card {
    flex: 0 0 auto;
    width: 33%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.rev-card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.rev-card:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.rev-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s;
}

.rev-intro {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: right 0.5s ease-in-out, background 0.5s;
}

.rev-card:hover .rev-intro {
    right: 0;
    background: rgba(51, 2, 244, 0.2);
}

.rev-intro h2 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(75, 241, 4);
    -webkit-text-stroke: 1px rgb(10, 66, 3);
}

.rev-intro p {
    font-size: 1.5rem;
    margin: 10px 0 0;
    opacity: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.rev-card:hover .rev-intro p {
    opacity: 1;
    visibility: visible;
}

.checked {
    color: orange;
}

@media (max-width: 1024px) {
    .rev-cards {
        flex-wrap: wrap;
    }

    .rev-card {
        width: 66%; 
    }

    .rev-intro h2 {
        font-size: 1.3rem;
    }

    .rev-intro p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .rev-title {
        font-size: 2rem;
    }

    .rev-description {
        font-size: 0.9rem;
    }

    .rev-card {
        width: 31%;
    }

    .rev-intro h2 {
        font-size: 1.2rem;
    }

    .rev-intro p {
        font-size: 0.75rem;
        font-weight: 400;
    }
}

@media (max-width: 576px) {
    .rev-container {
        padding: 10px;
    }

    .rev-title {
        font-size: 1.5rem;
    }

    .rev-description {
        font-size: 0.8rem;
        padding: 0 10px;
    }

    .rev-card {
        width: 75%;
        margin-left: 35px;
    }

    .rev-intro h2 {
        font-size: 2rem;
    }

    .rev-intro p {
        font-size: 0.8rem;
        font-weight: 500;
    }
}
