@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

.fr-body {
  font-family: "Outfit", sans-serif;
  background-color: #f0f4f1;
  color: #333;
  padding: 20px;
}

.fr-main {
  margin: 0 auto;
  max-width: 1200px;
}

.fr-section {
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  background: #ffffff;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.fr-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #004d00, #66ff66, #004d00);
  border-radius: 10px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.fr-section:hover:before {
  opacity: 1;
  transform: scale(1.05);
}

.fr-section-title {
  font-size: 2em;
  color: rgb(75, 241, 4);
  border-bottom: 2px solid #006400;
  padding-bottom: 10px;
  font-family: "Algerian";
  -webkit-text-stroke: 1px rgb(0, 3, 0);
}

.fr-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.fr-content h3 {
  color: #266f26;
  margin-top: 0;
  font-weight: 700;
  font-family: "procerus";
}

.fr-content ul {
  padding-left: 20px;
}

.fr-btn {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin: 20px auto;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.fr-btn:hover {
  background-color: #004d00;
  transform: scale(1.05);
}
