.tips-body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f4f8;
    color: #333;
    line-height: 1.6;
    overflow-y: scroll;
    scrollbar-color: #004d40 #f0f4f8; 
    scrollbar-width: thin; 
  }
  
  .tips-body::-webkit-scrollbar {
    width: 12px;
  }
  
  .tips-body::-webkit-scrollbar-track {
    background: #f0f4f8;
  }
  
  .tips-body::-webkit-scrollbar-thumb {
    background-color: #004d40;
    border-radius: 10px;
    border: 3px solid #f0f4f8;
  }
  
  .tips-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .tips-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
    margin-top: 3em;
    max-width: 1200px;
    width: 100%;
  }
  
  .tips-heading1 {
    color: #004d40;
    margin-left: 0;
    text-align: center;
  }
  
  .tips-heading2 {
    color: #004d40;
    border-bottom: 2px solid #004d40;
    padding-bottom: 0.5em;
    width: 100%;
    text-align: center;
  }
  
  .tips-heading3 {
    color: #b6c5c3;
    margin-top: 0;
  }
  
  .tips-section {
    width: 100%;
    max-width: 1200px;
    margin: 2em 0;
    padding: 2em;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(39, 112, 19, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tips-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .tips-card {
    background: #004d40;
    border: 1px solid rgba(53, 137, 32, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1em;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
    flex: 1 1 calc(33.333% - 1em);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
  }
  
  .tips-card:hover,
  .tips-card:active {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #00796b; 
  }
  
  .tips-card h3 {
    margin-top: 0;
  }
  
  .tips-card p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .tips-card-container {
      flex-direction: column;
    }
  
    .tips-card {
      flex: 1 1 100%;
    }
  }