.tour-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
  }
  
  .tour-swiper {
    width: 100%;
    height: 100%;
  }
  
  .tour-swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tour-title {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    letter-spacing: 0.3rem;
    z-index: 5;
    color: transparent;
    background-position: 0 0;
    animation: tour-animated-text 20s linear infinite;
  }
  
  .tour-title-one,
  .tour-title-two,
  .tour-title-three,
  .tour-title-four,
  .tour-title-five,
  .tour-title-six,
  .tour-title-seven,
  .tour-title-eight,
  .tour-title-nine,
  .tour-title-ten,
  .tour-title-eleven,
  .tour-title-twelve,
  .tour-title-thirteen,
  .tour-title-fourteen,
  .tour-title-fifteen,
  .tour-title-sixteen,
  .tour-title-seventeen,
  .tour-title-eighteen,
  .tour-title-nineteen,
  .tour-title-twenty,
  .tour-title-twentyone,
  .tour-title-twentytwo,
  .tour-title-twentythree,
  .tour-title-twentyfour
   {
    -webkit-text-stroke: 1px rgb(21, 255, 0);
    background: rgb(0, 0, 0);
    background-clip: text;
  }
  
  .tour-swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  @keyframes tour-animated-text {
    100% {
      background-position: 200% 0;
    }
  }